nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
        a.navbar-brand Welcome
        button.navbar-toggler(type="button" title="More Options" data-bs-toggle="collapse" data-bs-target="#navbarRoutes" aria-expanded="false")
            span.navbar-toggler-icon

        #navbarRoutes.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(href="/") Home
                
                if !session
                    li.nav-item
                        a.nav-link(href="/login") Log in

                    li.nav-item
                        a.nav-link(href="/signup") Sign up
                else
                    li.nav-item
                        a.nav-link(href="/mypolls") My polls
                    
                    li.nav-item
                        a.nav-link(href="/newpoll") New poll
                    
                    li.nav-item
                        a.nav-link(href="/logout") Log out
