doctype html
html(lang="en")
    head
        title Voting App - My polls
        include ../partials/meta.pug
        include ../partials/libraries.pug
        style.
            .cquestion{ width: 500px; }
        
    body(data-bs-theme="dark")
        include ../partials/nav.pug

        main#questions.py-4
            section.container.d-flex.flex-wrap.gap-3.justify-content-center
                #emptyAlert.d-none.alert.alert-warning.text-center You don't have any polls yet
                    <br> Try creating one first
                    br
                    a(href="/newpoll").text-decoration-none  Click here

    script(src="/js/mypolls.js") 