doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Voting App
        include ../partials/libraries.pug
        
    body(data-bs-theme="dark")
        include ../partials/nav.pug
