doctype html
html(lang="en")
    head
        title Voting App - Share
        include ../partials/meta.pug
        include ../partials/libraries.pug
        
    body(data-bs-theme="dark")
        include ../partials/nav.pug
