doctype html
html(lang="en")
    head
        title Voting App - Sign up
        include ../partials/meta.pug
        include ../partials/libraries.pug
        
    body(data-bs-theme="dark")
        include ../partials/nav.pug

        main.py-4
            section.container.d-flex.justify-content-center
                form(action="/signup" method="POST").text-center.border.rounded.p-5
                    h3.mb-4 Sign Up
                    
                    fieldset.text-start.mb-3
                        label(for="username").mb-1 Username
                        input#username(type="text", name="username" placeholder="mrTilin" required).form-control

                    fieldset.text-start.mb-3
                        label(for="password").mb-1 Password
                        input#password(type="password" name="password1" placeholder="••••••" required).form-control
                    
                    fieldset.text-start.mb-3
                        label(for="password").mb-1 Password confirm
                        input#password(type="password" name="password2" placeholder="••••••" required).form-control

                    button.btn.btn-secondary.my-3 Let me join

                    .form-text Already have an account? 
                        a(href="/login").text-decoration-none Log in

